<h1>Welcome to Skedge!</h1>
<p>
	You've found the homepage for the best scheduling tool on the planet, built during my iteration of <%= link_to "One Month Rails", "http://onemonthrails.com" %>.
</p>
<p>
	<%= link_to "Sign Up Now!", "http://onemonthrails.com" %>
</p>
</div>